.feature-section {
  @extend %section;
}

.feature-section__container {
  @extend %container;
}

.feature-section__title {
  @include visually-hidden;
}

.feature {
  @extend %list;
  display: flex;
}

.feature__item {
  width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__icon {
  @include centeredFlex();
  background-color: var(--team-bgr-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__subtitle {
  margin-bottom: 10px;
  color: var(--second-font-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
