.hero {
  background: var(--hero-background-color);
  text-align: center;
}

.hero__image {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imghero.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero__container {
  @extend %container;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero__button {
  font-family: inherit;
  background: var(--accent-color);
  color: var(--main-light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--second-accent-color);
  }
}
