.page-header {
  border-bottom: 1px solid var(--border-header-color);
  @media screen and (max-width: 479px) {
    min-width: 480px;
  }
}

.main-header {
  @include space-betweenFlex();
  @extend %container;

  @media screen and (max-width: 767px) {
    position: relative;
    padding: 16px 0px 16px 15px;
  }
}

.nav-header {
  @include space-betweenFlex();
}

.menu-nav {
  @extend %list;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav__link {
  color: var(--second-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #188ce8;
    opacity: 0;
  }
}

.menu-nav__link--currrent {
  color: var(--accent-color);
  &::after {
    opacity: 1;
  }
}

.contacts {
  @extend %list;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item + .contacts__item {
  @media screen and (min-width: 1200px) {
    margin-left: 40px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-font-color);
  fill: var(--main-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button {
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    @include centeredFlex();
    top: 10px;
    right: 10px;
    border: none;
    background-color: $main-light-color;
  }
}
