.team-section {
  @extend %section;
  background: var(--team-bgr-color);
}

.team-section__container {
  @extend %container;
}

.team-section__title {
  @extend %title;
}

.team {
  @extend %list;
  display: flex;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--main-light-color);
  text-align: center;
}

.team-card__subtitle {
  margin-bottom: 10px;
  color: var(--second-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  @include centeredFlex();
  @extend %list;
  gap: 10px;
  margin-top: 16px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  @include centeredFlex();
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--main-light-color);
  }
}
