body {
  background-color: var(--main-light-color);
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

img,
label,
input,
textarea {
  display: block;
}

textarea {
  resize: none;
}

