:root {
  --main-light-color: #ffffff;
  --main-font-color: #757575;
  --second-font-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --logo-color: #000000;
  --border-bgr-color: #2f303a;
  --team-bgr-color: #f5f4fa;
  --footer-contacs-color: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --hero-background-color: #c4c4c4;
  --work-label-background: rgba(47, 48, 58, 0.8);
}

$main-light-color: #ffffff;
$main-font-color: #757575;
$second-font-color: #212121;
$accent-color: #2196f3;
$second-accent-color: #188ce8;
$logo-color: #000000;
$border-bgr-color: #2f303a;
$team-bgr-color: #f5f4fa;
$footer-contacs-color: rgba(255, 255, 255, 0.6);
$border-header-color: #ececec;
$hero-background-color: #c4c4c4;
$work-label-background: rgba(47, 48, 58, 0.8);
